@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    display: table;

    width: 100%;
    min-height: 100vh;
}

.field-wrapper {
    display: inline-block;
    width: 70%;
    min-height: 100vh;

    text-align: center;
}

.field, .interface {
    display: inline-block;
    text-align: center;
}

.field {
    min-width: 200px;
    min-height: 200px;
}

.interface {
    width: 30%;
    min-height: 100vh;

    float: right;
}

.window  {
    padding: 12px;
    margin: 20px;

    box-shadow: 0 6px 12px #00000029;
    border: 1px solid #707070A8;
    border-radius: 6px;
    text-align: center;

    background: white;

}

.window>* {
    margin: 10px;
}

.cell {
    display: inline-block;
    vertical-align: middle;

    width: 40px;
    height: 40px;

    margin: 4px;
    padding: 8px;

    background: #BBBBBB;
    border: 1px solid #707070;

    font: inherit;
    color: inherit;
    text-align: center;
}

.row {
    margin: 0;
}

.cell.focused {
    outline: #04BEEE80 solid 2px;
}

.cell.opened {
    background: white;
}

.cell.bombed {
    background: #C42828 url("imgs/bomb.svg") center no-repeat;
}

.cell:not(.opened) {
    font-size: 0;
    background: #BBBBBB;
}

.cell.flagged {
    background: url("imgs/flag.svg") center no-repeat;
}

.cell.c1 {
    color: blue;
}

.cell.c2 {
    color: green;
}

.cell.c3 {
    color: red;
}

.cell.c4 {
    color: darkblue;
}

.cell.c5 {
    color: darkred;
}

.cell.c6 {
    color: darkgreen;
}

.cell.c7 {
    color: mediumaquamarine;
}

.cell.c8 {
    color: darkmagenta;
}

html {
    background: #FFFFFF;
    font: bold 20px/24px Roboto;
    color: #707070;
}

input {
    height: 24px;
    width: 50px;

    padding: 2px;

    border: 1px solid #AAAAAABF;
    border-radius: 2px;

    float: right;
    margin-left: 10px;

    font: inherit;
}

button {
    width: 126px;
    height: 26px;

    border: none;
    border-radius: 32px;

    background: #3F88E8;

    font: normal 14px/17px Roboto;
    color: #FFF;
}